<h1 class="text-5xl relative after:border-4 after:border-[#ff90e8]/10 after:absolute after:bottom-0 after:left-0 after:block after:w-full after:h-full after:z-0 p-4 after:rounded-md after:bg-white before:absolute before:-bottom-2 before:-right-2 before:block before:w-full before:h-full before:border-4 before:border-[#ff90e8]/10 before:bg-white before:z-[-1]">
  <a href="https://gumroad.schoenberger.dev" class="text-neutral-200 relative z-[1]">hey, gumroad</a>
</h1>